@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-6 mb-5 mb-lg-0">
        <h4 class="my-5 display-3 fw-bold ls-tight">
            SQLI<br />
            <span style="color: blue;" class="my-3 display-4 fw-bold">International digital company</span>
        </h4>
        <p>
            Depuis, SQLI conseille ses clients dans leur mutation digitale, en les dotant du conseil et de maintenance de dispositifs innovants. En plus du développement local.Ses équipes s’appuient sur une expertise de pointe des technologies pour augmenter les ventes de ses clients (marketing digital & social, e-commerce, data marketing, UX et nouveaux usages).
            <br /><br />
            <b>Notre mission depuis 30 ans ? </b> Être présent au bon moment !
            <br /><b>Notre expertise ? </b> Accompagner nos clients à capter l’attention de l’utilisateur et transformer cette interaction furtive en une interaction mémorable. C’est dans cette optique que nous accompagnons les entreprises dans la mise en œuvre, et le pilotage de dispositifs digitaux pour une expérience utilisateur réinventée.
            <br /><b>La juste interaction, c’est quoi ? </b> C’est capter notre attention au bon moment, au bon endroit et la convertir en envie et en confiance. Un équilibre subtil entre le trop et le trop peu. Entre le trop tôt et le trop tard.​
            <br /><b>Notre culture ? </b> Oser et créer.​
        </p>
        <h4 style="color: blue;" class="my-3 display-4 fw-bold">Notre vision : l’expérience digitale unifiée</h4>
        <p>
            Dans un environnement hyperconnecté, SQLI est pionnière dans l'économie de l'attention des utilisateurs. Pour y arriver, nous proposons une expérience digitale unifiée et collaborative. Inspirer plutôt qu'imposer.
            <br /><br />
           Pour permettre à nos clients et aux consommateurs de récolter les dividendes de la croissance, nous mettons à leur disposition notre approche composée d’insights, d’inventivité et de compétences technologiques.
            <br /><br />
        </p>
    </div>
    <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="~/Pictures/sqli_oujda.png" alt="Description de l'image" style="float: right; width: 100%;">
        <h3>+212 (0) 5 36 68 29 07</h3>
        <h3>Boulevard Mohammed VI</h3>
        <h3>Complexe Technologique SQLI</h3>
        <h3>60000 Oujda</h3>
        <h3>Maroc</h3>
    </div>
</div>
